{% include 'header.html' %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('{{content.img_url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>{{content.title}}</h1>
                    <span class="subheading">{{content.subtitle}}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <!--          #Safe filter applied to the post.body-->
                <div class="lazy">
                    {{ content.body|safe }}
                </div>
                <hr>
            </div>
        </div>
    </div>
</main>
<!-- Footer-->
{% include 'footer.html' %}
