<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">

    <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet" type="text/css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/fontawesome.min.css" rel="stylesheet">
    <style>
        .sidebar-container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
    </style>
</head>
<body>
{% block sidebar %}
<div class="sidebar-container d-flex flex-column p-3 text-white bg-dark" style="width: 280px;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" href="/">
        <svg class="bi me-2" height="32" width="40">
            <use xlink:href="#bootstrap"></use>
        </svg>
        <span class="fs-4">Welcome</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a aria-current="page" class="nav-link active" href="#">
                <i class="fa-duotone fa-house-user"></i>
                Home
            </a>
        </li>
        <li>
            <a class="nav-link text-white" href="{{url_for('adminPanel.posts')}}">
                <i class="fas fa-file-alt"></i>
                Posts
            </a>
        </li>
        <li>
            <a class="nav-link text-white" href="{{url_for('adminPanel.users')}}">
                <i class="fas fa-users"></i>
                Users
            </a>
        </li>
        <li>
            <a class="nav-link text-white" href="">
                <i class="fa fa-wrench"></i>
                Currently update
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a aria-expanded="false" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
           href="#" id="dropdownUser1">
            <img alt="" class="rounded-circle me-2"
                 height="32" src="https://cdn.discordapp.com/emojis/956239879593918494.webp?size=96&quality=lossless" width="32">
            <strong>Admin</strong>
        </a>
        <ul aria-labelledby="dropdownUser1" class="dropdown-menu dropdown-menu-dark text-small shadow">


            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{{url_for('adminPanel.logout')}}">Sign out</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
