{% import "bootstrap/wtf.html" as wtf %}
{% extends 'admin/adminbase.html' %}

{% block sidebar %}
<!-- Include the sidebar content here if needed -->
{% endblock %}

{% block sections %}
<div class="px-2">
    <h1>Adjust your posts here</h1>
</div>
{% endblock %}

{% block content %}
<!--Get flash message here and send to client-->
<div class="fixed-top">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    {% for message in messages %}
    <div id="overlay_flash" class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<!--button to create new post -->

<caption class="container">
    <div class="row justify-content-start">
        <div class="col-4 justify-content-start" style="display:contents;">
            <button type="button" class="btn btn-primary" style="float:right;"><a
                    href="{{url_for('views.create_post')}}">Create new Post</a></button>
            <a class="btn btn-primary" href="{{ url_for('adminPanel.dashboard') }}">Go back to Dashboard</a>

        </div>
    </div>
</caption>

<!--Table content to summary the post -->

<div class="table-responsive ">
    <table class="table table-hover table-sm ">
        <thead class="thead " id="thead_dark">
        <tr class="text-center">
            <th>post ID</th>
            <th>Title</th>
            <th>Subtitle</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts.items %}
        <tr class="text-center">
            <!--            <th scope="row">{{ loop.index }}</th>-->
            <td>{{post.id}}</td>
            <td>{{ post.title }}</td>
            <td>{{post.subtitle}}</td>
            <td>{{ post.date_created }}</td>
            <td>
                <a href={{url_for('adminPanel.edit_post',post_id=post.id)}}>
                    <i class="fa-solid fa-pen-to-square" title="Edit"></i>
                </a>
                <button id="{{post.id}}" name="DeletePost"
                        onclick="document.getElementById('deletePostModal').style.display='block';document.getElementById('delete_post_id').setAttribute('value',this.id)">
                    <i class="fa-solid fa-trash" data-toggle="tooltip" title="Delete"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>



<!-- Pagination Links-->

<div class="text-right">
    <a href="{{ url_for('adminPanel.posts', page=pagination.prev_num) }}"
       class="btn btn-outline-dark
       {% if pagination.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
<!-- Loop through the number of pages to display a link for each-->
    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
{% if page_num %}
<!-- Check for the active page and set the link to "Active"-->
            {% if pagination.page == page_num %}
    <a class="btn btn-dark"
       href="{{ url_for('adminPanel.posts', page=page_num) }}">
        {{ page_num }}
    </a>
            {% else %}
    <a class="btn btn-outline-dark"
       href="{{ url_for('adminPanel.posts', page=page_num) }}">
        {{ page_num }}
    </a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}
    <a href="{{ url_for('adminPanel.posts', page=pagination.next_num) }}"
       class="btn btn-outline-dark
       {% if pagination.page == pagination.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
   Showing page {{ pagination.page }} of {{ pagination.pages }}
</p>


<!-- Delete Modal HTML -->
	<div id="deletePostModal" class="modal">
        <span onclick="document.getElementById('deletePostModal').style.display='none'" class="close" title="Close Modal">&times;</span>
		<div class="modal-dialog">
            <form action={{url_for('adminPanel.delete_post')}} class="modal-content" method="post">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Authors</h4>
                    <button onclick="document.getElementById('deletePostModal').style.display='none'" type="button">
                        &times;
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete these Records?</p>
                    <p class="text-warning"><small>This action cannot be undone.</small></p>
                </div>
                <div class="modal-footer">
                    <!--                        https://stackoverflow.com/questions/19794695/flask-python-buttons    -->
						<input type="button" onclick="document.getElementById('deletePostModal').style.display='none'" class="btn btn-default" data-dismiss="modal" value="Cancel">
                        <input type="hidden" id="delete_post_id" name="delete_post">
						<input type="submit"  class="btn btn-danger" value="Delete">
					</div>
				</form>
		</div>
	</div>


{% endblock %}