{% import "bootstrap/wtf.html" as wtf %}
{% extends 'admin/adminbase.html' %}
{% block content %}
{% block sections %}{% endblock %}

{% block sidebar %}
<!-- Include the sidebar content here if needed -->
{% endblock %}

<!--Get flash message here and send to client-->
<div class="fixed-top">
    {% with messages = get_flashed_messages(category_filter=["success"]) %}
    {% if messages %}
    {% for message in messages %}
    <div id="overlay_flash" class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<a class="btn btn-primary" href="{{ url_for('adminPanel.dashboard') }}">Go back to Dashboard</a>

{% if not is_edit %}
<head>
    <h1> User Details</h1>
    <title>Users Detail</title>
</head>
<div class="container" style="margin-right: 0px;padding-right: 0px;">
    <div class="row justify-content-end">
        <div class="col-4">
            <button class="btn btn-primary" style="float:right;" type="button">Create user</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-hover table-sm">
        <thead class="thead" id="thead_dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Date Created</th>
            <th>IsAuthor</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>

        {% for user in users.items %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <td>{{ user.username }}</td>
            <td>{{user.email}}</td>
            <td>{{ user.date_created }}</td>
            {% if user.is_Author %}
            <td class="text-success">{{user.is_Author}}</td>
            {% else %}
            <td class="text-danger"><i class="fa-solid fa-xmark"></i></td>
            {% endif %}
            <td>
                <a href="{{url_for('adminPanel.edit_user',user_id=user.id)}}">
                    <i class="fa-solid fa-pen-to-square" title="Edit"></i>

                </a>
                <button id="{{user.id}}" name="DeleteAuthor"
                        onclick="document.getElementById('deleteEmployeeModal').style.display='block';document.getElementById('delete_user_id').setAttribute('value',this.id)">
                    <i class="fa-solid fa-trash" data-toggle="tooltip" title="Delete"></i>
                </button>
            </td>
        </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

{% block editAbout %}{% endblock %}

<!-- Pagination Links-->
<div class="text-right">
    <a href="{{ url_for('adminPanel.users', page=pagination.prev_num) }}"
       class="btn btn-outline-dark
       {% if pagination.page == 1 %}disabled{% endif %}">
        &laquo;
    </a>
    <!-- Loop through the number of pages to display a link for each-->
    {% for page_num in pagination.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    <!-- Check for the active page and set the link to "Active"-->
    {% if pagination.page == page_num %}
    <a class="btn btn-dark"
       href="{{ url_for('adminPanel.users', page=page_num) }}">
        {{ page_num }}
    </a>
    {% else %}
    <a class="btn btn-outline-dark"
       href="{{ url_for('adminPanel.users', page=page_num) }}">
        {{ page_num }}
    </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    <a href="{{ url_for('adminPanel.users', page=pagination.next_num) }}"
       class="btn btn-outline-dark
       {% if pagination.page == pagination.pages %}disabled{% endif %}">
        &raquo;
    </a>
</div>
<p class="text-right mt-3">
    Showing page {{ pagination.page }} of {{ pagination.pages }}
</p>


<!--if not edit-->
{% endif %}

<!-- Edit Modal HTML -->
{% if is_edit %}
<h2><a href="{{url_for('adminPanel.users')}}" style="color:#25b1b1">Go Back</a></h2>
<div class="container">
    <h3>Edit user here</h3>
    {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "danger"}) }}

    <h1 style="color:red"> Are you sure with this action? </h1>
</div>


{% endif %}

<!-- Delete Modal HTML -->
<div class="modal" id="deleteEmployeeModal">
    <span class="close" onclick="document.getElementById('deleteEmployeeModal').style.display='none'"
          title="Close Modal">&times;</span>
    <div class="modal-dialog">
        <form action={{url_for('adminPanel.delete_user')}} class="modal-content" method="post">
            <div class="modal-header">
                <h4 class="modal-title">Delete Authors</h4>
                <button onclick="document.getElementById('deleteEmployeeModal').style.display='none'" type="button">
                    &times;
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete these Records?</p>
                <p class="text-warning"><small>This action cannot be undone.</small></p>
            </div>
            <div class="modal-footer">
                <!--                        https://stackoverflow.com/questions/19794695/flask-python-buttons    -->
                <input class="btn btn-default" data-dismiss="modal"
                       onclick="document.getElementById('deleteEmployeeModal').style.display='none'" type="button" value="Cancel">
                <input id="delete_user_id" name="delete_author" type="hidden">
                <input class="btn btn-danger" type="submit" value="Delete">
            </div>
        </form>
    </div>
</div>
<script>
    document.getElementById("delete_user_id").setAttribute('value', user_id)
</script>
{% endblock %}
