<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
   <link  href="{{url_for('static',filename='css/styles.css')}}" rel="stylesheet" type= "text/css" />
</head>
<body style="display: inline-block;
  background: #00AFF9 url(https://cbwconline.com/IMG/Codepen/Unplugged.png) center/cover no-repeat;
  height: 100vh;
  margin: 0;
  color: white;">
<h1 style="margin: .8em 3rem;
  font: 4em Roboto;">Whoops!</h1>
<p style="display: inline-block;
  margin: .2em 3rem;
  font: 2em Roboto;">Something went wrong</p>
<a href="{{url_for('views.getAllPost')}}" style="margin: .8em 3rem;
  font: 4em Roboto;">Go Back!</a>

</body>
</html>